body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #666;
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    color: #000000;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

pre {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto;
}

code {
    font-family: Consolas, monospace;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

/* Additional styles for color */

h1 img {
    vertical-align: middle;
    margin-left: 10px;
}

.container {
    background-color: #ffd966;
    color: #000000;
}

.container h2 {
    color: #8a1a12b7;
    font-size: 20px;
    margin-bottom: 10px;
}

.container p {
    color: #555;
}

.container ul {
    color: #555;
}

.container ol {
    color: #555;
}

.container pre {
    background-color: #991f1f42;
    color: #333;
    border: 1px solid #ccc;
}

.container code {
    font-family: Consolas, monospace;
    background-color: #991f1f00;
    color: #000000;
    padding: 2px 5px;
}

.github-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.github-btn:hover {
    background-color: #555;
}